body {
    background-color: #252525; 
    margin-left: 700px;
    margin-top: 100px;
}

.MainText {
    color: darkorange;
    font-size: 50px;
    font-family: sans-serif;
    font-stretch: expanded;
}

.UpperMenu{
    position: absolute;
    top: 0;
    left: 80px;
    height: 80px;
    width: 1778px;
    background-color: #000000;
    
}
.Packy {
    position: absolute;
    top: 0;
    left: -80px;

}

.NameInputText {
    color:#aaaaaa; 
    
    font-size:23px;
    font-stretch: expanded;
    
}

.FieldCreate1 {
    position: absolute;
    top: 200px;
    left: 820px;
    background-color: black;
    color:aliceblue;
    font-size: 15px ;
    height: 25px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
    
}
.FieldCreate2 {
    position: absolute;
    top: 250px;
    left: 820px;
    background-color: black;
    color:aliceblue;
    height: 25px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
}
.FieldCreate3 {
    position: absolute;
    top: 300px;
    left: 820px;
    background-color: black;
    color:aliceblue;
    height: 25px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
}
.FieldCreate4 {
    position: absolute;
    top: 350px;
    left: 820px;
    background-color: black;
    color:aliceblue;
    height: 25px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
}
.FieldCreate5 {
    position: absolute;
    top: 400px;
    left: 820px;
    background-color: black;
    color:aliceblue;
    height: 25px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
}

.mainbuttom {
    position: absolute;
    top: 460px;
    left: 840px;
    height: 35px;
    width:  120px;
    background-color: rgba(0, 48, 71, 0.75);
    color:darkgoldenrod;
    border-radius: 30px;
    font-size: 17px;
}

.DownMenu {
    background-color: beige;
    position: absolute;
    left: 0;
    top:850px;
    width: 1858px;
    height: 127px;
    background: -webkit-linear-gradient(top, #ffffff 0%,dimgrey 0%,#d1d1d1 0%,#000000 95%);
    
    
}


























