body {
    margin-left: 760px;
    margin-top: 300px;

    background-color: #252525;
    
}

.title {
    color: darkorange;
    font-size: 40px;
    font-family: monospace;
    
}
.input1 {
    position: absolute;
    top: 370px;
    background-color: black;
    height: 31px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
    color:beige;
    font-size: 18px;
    font-family: sans-serif;
    
}

.input2 {
    position: absolute;
    top: 420px;
    background-color: black;
    height: 31px;
    width: 250px;
    border-radius: 30px;
    border-style: solid;
    color:beige;
    font-size: 18px;
    font-family: monospace;
   
}

.mainbuttom {
    position: absolute;
    top: 470px;
    left: 810px;
    height: 30px;
    width:  100px;
    background-color: rgba(0, 48, 71, 0.75);
    color:darkgoldenrod;
    border-radius: 30px;
    font-size: 17px;
}
.link {
    position: absolute;
    left: 900px;
    top: 470px;
    height: 22px;
    width: 110px;
    font-size: 22px;
   color:dimgrey;
    
}
.DownMenu {
    position: absolute;
    left: 0;
    top:850px;
    width: 1858px;
    height: 127px;
    background: beige -webkit-linear-gradient(top, #ffffff 0%, dimgrey 0%, #d1d1d1 0%, #000000 95%);


}

.UpperMenu{
    position: absolute;
    top: 0;
    left: 80px;
    height: 80px;
    width: 1778px;
    background-color: black;
    
}

.Packy {
    position: absolute;
    top: 0;
    left: 0;
}



