# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
tmp/build-errors.log
*.ico
*.png
src
test
serverConst
*.mod
go.mod
*.sum
go.sum
/StaticFiles/bootstrap/
StaticFiles/bootstrap/bootstrapCss/bootstrap-grid.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-grid.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap-grid.min.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-grid.min.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap-reboot.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-reboot.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap-reboot.min.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-reboot.min.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap-utilities.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-utilities.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap-utilities.min.css
StaticFiles/bootstrap/bootstrapCss/bootstrap-utilities.min.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap.css
StaticFiles/bootstrap/bootstrapCss/bootstrap.css.map
StaticFiles/bootstrap/bootstrapCss/bootstrap.min.css
StaticFiles/bootstrap/bootstrapCss/bootstrap.min.css.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.bundle.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.bundle.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.bundle.min.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.bundle.min.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.esm.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.esm.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.esm.min.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.esm.min.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.min.js
StaticFiles/bootstrap/bootstrapJs/bootstrap.min.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.min.js.map
StaticFiles/bootstrap/bootstrapJs/bootstrap.min.js
